<div [ngSwitch]="diviceType" class="table-responsive col-xl">


  <!-- small device -->
  <div *ngSwitchCase="'sm'" class="container">
    <ngx-datatable #myTable class="material expandable" [columnMode]="ColumnMode.force" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [rows]="tabelData" (page)="onPage($event)">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div>
              <pre><strong>Genter   :</strong> {{ row.genter }}</pre>
              <pre><strong>Location : </strong>{{ row.loc }}</pre>
              <pre><strong>Reason   :</strong> {{ row.reason }}</pre>

            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="FirstName" [width]="100">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="LastName" [width]="100">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{ row.last }}
        </ng-template>
      </ngx-datatable-column>



    </ngx-datatable>
  </div>

  <!-- md device -->
  <div *ngSwitchCase="'md'" class="container">
    <ngx-datatable #myTable class="material expandable" [columnMode]="ColumnMode.force" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [rows]="tabelData" (page)="onPage($event)">
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div>
              <pre><strong>reason :</strong> {{ row.reason }}</pre>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="FirstName" [width]="100">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="LastName" [width]="100">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{ row.last }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="genter" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.genter }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="location" [width]="200">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.loc }}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>

  <!-- lg device -->
  <div *ngSwitchCase="'lg'">
    <ngx-datatable class="material" [rows]="tabelData" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="50" [scrollbarV]="false" [sorts]="[{prop: 'name', dir: 'desc'}]">
      <ngx-datatable-column name="FirstName" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.name}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="LastName" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.last}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.genter}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Location" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.loc}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Reason" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.reason}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>





  <!-- <ng-template #other>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of tableHeading" scope="col">{{col.header}}</th>
          
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let col of tabelData">
          <accordion >
            <accordion-group heading={{col.name}}>
             <div>
               
               </div>
            </accordion-group>

          </accordion>

        </tr>
      </tbody>
    </table>
  </div>
</ng-template>  -->