/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
/* @import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css'; */

.input-group {
    width: 50%;
    padding-bottom: 3%;
    margin-top: 1%;
}
.main{
    margin-left: 12%;
}
.adisabled {
    cursor: not-allowed;
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }
  
  ::ng-deep div {
    font-style: italic;
  }

  
  @media only screen and (max-width: 600px) {
    
  }